html, body
{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin:0px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.custom-navbar
{
	height: 70px;
	width: 100%;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	display: table;
	position: absolute;
	background:linear-gradient(to right,rgba(228, 228, 230, 0.99),rgba(228, 228, 230, 0.89) );
	z-index: 99;
	top: 0px;
	left: 0px;
}
.navbar-container
{
	display: table-cell;
	vertical-align: middle;
	height: 60px;
	padding: 5px 50px 5px 50px;
}
.header
{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1.5px;
}
.header img
{
	height:50px;
}
.right
{
	float: right;
}
.menu
{
	padding-top: 12px;
}
.menu ul
{
	list-style: none;
	display: inline-block;
	padding: 0px;
	margin:0px;
	vertical-align:baseline;
}
.menu ul li
{
	display: inline-block;
	font-size: 15px;
	margin-right: 30px;
}
.menu ul li a
{
	color:#5E5E5E;
	letter-spacing: 1.5px;
}
.menu ul li a i
{
	margin-right: 10px;
}
.small-menu
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}
.small-menu li a
{
	text-decoration: none;
	color: #5E5E5E;
}
.small-menu li
{
	padding: 5px;
	padding-left: 15px;
	font-size: 15px;
}
.small-menu li a i
{
	margin-right: 20px;
}
.maincont
{
	padding: 50px;
	height: 100%;
	width: 100%;
	padding-top: 70px;
	background-image: url(../images/bg2.jpg);
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}
.maincont .row, .fullscreen-section .row
{
	height: 100%;
	width: 100%;
}
.maincont .row .col-sm-6 
{
 	height: 100vh !important;
}
.left-container
{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-container
{
	display: grid;
	grid-gap: 5px;
	margin-top: -30%;
	grid-template-columns: 150px 150px;
	grid-template-rows: 150px 150px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.grid-item
{
	background-color:rgba(14, 127, 120,0.95);
	color: white;
	padding: 20px;
	border-radius: 2px;
	transition: all 200ms;
}
.grid-item:hover
{
	background-color:rgba(14, 127, 120,1);
}
.grid-item:nth-child(2),.grid-item:nth-child(3)
{
	background-color:rgba(11, 93, 88,0.95);
}
.grid-item:nth-child(2):hover,.grid-item:nth-child(3):hover
{
	background-color:rgba(11, 93, 88,1);
}
.grid-item i
{
	font-size:55px;
	display: block;
	margin-bottom: 30px;
}
.right-container
{
	padding-top: 80px;
}
.right-container h1
{
	font-size: 5vw;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	letter-spacing: 4px;
	color:#5C5C5C;
	text-decoration:none;;
}
.tag-line
{
	font-size: 25px;
	font-weight: 300;
	margin-top: 30px;
}
.btn_lg
{
	padding:10px 30px 10px 30px;
	font-size: 17px;
	border:2px solid rgba(11, 93, 88,0.95);
	background:transparent;
	margin-top: 20px;
	height: 50px;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
}
.btn_lg i
{
	margin-right: 10px;
}
.dark
{
	background-color:rgba(11, 93, 88,0.95);
	color: white;
	transition:all 300ms;
}
.light
{
	color: rgba(11, 93, 88,0.95);
	margin-left: 20px;
	transition:all 300ms;
}
.dark:hover, .light:hover
{
	background-color:rgba(14, 127, 120,0.95);
	border-color:rgba(14, 127, 120,0.95);
	color: white;
}
.btn_lg:focus
{
	outline: none;
}
.logo
{
	width: 50px;
	margin-right: 30px;
}
.social
{
	margin-top: 30px;
}
.social  ul
{
	list-style: none;
	margin-left: -40px;
}
.social ul li
{
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border:2px solid #5C5C5C;
	text-align: center;
	font-size: 17px;
	padding-top: 5px;
}
.social ul a
{
	color: #5C5C5C;
	margin-right: 30px;
	text-decoration:none;
}
.aboutus, .our-clients, .contact
{
	padding: 50px 100px 50px 100px;
	text-align: center;
	min-height: 100%;
	width: 100%;
}
.aboutus h1 font, .contact h1 font
{
	color: rgba(11, 93, 88,0.95);
}
.aboutus h1, .our-clients h1, .contact h1
{
	font-family: 'Montserrat', sans-serif;
	color:#6E6E6E;
	letter-spacing: 2px;
	font-weight: bold
}
.aboutus hr, .contact hr
{
	width: 40%;
	height: 2px;
	border:0px;
	background: linear-gradient(to right, white,rgba(11, 93, 88,0.95), white)
}
.cursive
{
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}
.aboutus .mockup img
{
	width: 100%;
}
.aboutus .row .col-sm-6
{
	height: 100%;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 1.5px;
	text-align: left;
}
.aboutus .row
{
	margin-top: 30px;
	height: 80%;
	padding-top: 40px;
}
.aboutus .row .col-sm-6 font
{
	font-size: 25px;
	font-weight: bold;
	color: rgba(11, 93, 88,0.95);
}
.our-clients h1 font
{
	color: rgba(11, 93, 88,0.95);
}
.our-clients
{
	background-color: #EBEBEB;
	background-image: url('../images/bg5.jpg');
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
}
.our-clients hr
{
	width: 40%;
	height: 2px;
	border:0px;
	background:rgba(11, 93, 88,0.95);
}
.custom-container
{
	margin: auto;
	width: 93%;
	min-height: 90vh;
	background-color: rgba(255,255,255,0.96);
	padding: 20px;
	border-radius: 4px;
}
.grid
{
	margin: auto;
	width: 90%;
	margin-top: 40px;
	height: 60vh;
	overflow: auto;
}
.grid .grid-item-2
{
	padding:3px;
	height:33.33%;
}
.content
{
	height: 100%;
	width: 100%;
	display: flex;
	border-radius: 2px;
	align-items: center;
	justify-content: center;
	background-image: url(../images/cover.jpg);	
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	background-color: rgba(0,0,0,0.75);
	background-blend-mode: multiply;
	font-family: 'Poiret One', cursive;
}
.contact .row
{
	height: 100%;
	text-align: left;
}
#map
{
    height: 60vh;
}
.flex-centered
{
	padding-top: 40px;
}
.contact .row .address
{
	height: 100%;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 1.5px;
	text-align: left;
	padding-top: 50px;
}
.contact .row .address i
{
	font-size: 25px;
	vertical-align: middle;
	margin-right: 30px;
}
.contact .fa-map-marker
{
	color:#1874CD;	
}
.contact .fa-mobile-alt
{
	color:#2E8B57;
}
.contact .fa-clock
{
	color:#7171C6;
}
.contact .fa-envelope
{
	color: #EE9A00;
}
.contact .row .address p
{
	margin-bottom: 20px;
}
.footer
{
	padding: 30px 100px 30px 100px;
	background-color:#2B2B2B;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	letter-spacing: 2px;
}
.custom-container-2
{
	min-height: 100%;
	width: 100%;
	padding:0px;
}
.header-half
{
	height: 50vh;
	width: 100%;
	padding: 100px 100px 50px 100px;
	background-image: url(../images/bg.jpg);
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
}
.header-half h1
{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-bottom: -20px;
	font-size: 45px;
	margin-top: 30px;
}
.header-half h1 font
{
	color: rgba(11, 93, 88,1);
}
.form-container
{
	margin:auto;
	width: 70%;
	min-height: 40vh !important;
	padding: 50px;
	margin-top: 50px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 7px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 50px;
}
.form-container form
{
	margin-top: 30px;
}
.form-container-2
{
	margin:auto;
	background-color: white;
	width: 30%;
	min-height: 40vh !important;
	padding: 50px;
	margin-top: -50px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 7px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 50px;
}
.form-container-2 h1
{
	font-size: 20px;
	margin-bottom: 20px;
}
.form-container-2 input
{
	width: 90%;
	margin-left: 0px;
}
.txt-sml
{
	width: 40%;
	height: 35px;
	border:0pc;
	border-bottom: 2px solid #ABABAB;
	margin:20px;
	transition: all 200ms;
}
.txt-lg
{
	margin:20px;
	width: 80%;
	height: 40vh;
	border: 2px solid #ABABAB;
	resize: none;
	padding: 10px;
	transition: all 200ms;
	display: block;
}
.txt-sml:focus, .txt-lg:focus
{
	outline: none;
}
.txt-sml:focus
{
	border-bottom: 2px solid rgba(11, 93, 88,0.95);
}
.main-cont
{
	padding: 30px;
}
.main-cont h1
{
    font-size: 18px;
    letter-spacing: 1.5px;
}
/*LOGO USED INSIDE THE HEADING*/
.main-cont h1 .logo
{
    font-size:25px;
    margin-right: 20px;
    color:#0B5D58;
    text-shadow: 5px 0px #4D8985;
}
.controls
{
	margin-top: 50px;
}
.btn-grp
{
	width: 100%;
}
.controls .txt-sml
{
	margin-top: 0px;
}
.btn-grp button
{
	padding:5px 20px 5px 20px;
	display: inline;
	margin-right: -4px;
	background-color:#2274A5;
	border:0px;
	color: white;
}
.btn-grp button.active
{
	background-color:#2274A5;
}
.btn-grp button:focus
{
	outline: none;
}
.btn-sml
{
	padding:5px 20px 5px 20px;
	background-color:#2274A5;
	border:0px;
	margin-left: 20px;
	color: white;
	border-radius: 2px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.cont
{
	width:97%;
	margin:auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	padding: 20px;
	margin-top: 50px;
}
.table  thead tr:nth-child(odd)
{
	background-color: rgba(0,0,0,0.1);
	font-weight: bold;
	color:#525252;
}
.table  tbody tr:nth-child(even)
{
	background-color: rgba(0,0,0,0.1);
}
.table tr td
{
	padding: 5px;
}
.table tr td:nth-child(9)
{
	text-align: center;
}
select
{
	padding: 5px;
}
.complain_status
{
	margin:auto;
	height: 20px;
	width: 20px;
	border: 0px;
	border-radius: 50%;
	color: white;
	font-size: 10px;
	text-align: center;
	padding: 0px;
}
.complain_status:focus
{
	outline: none;
}
.complain_status.done
{
	background-color: #008B00;
}
.complain_status.pending
{
	background-color: #8B2500;
}
@media only screen and (max-width: 768px) 
{
	.left-container
	{
		display:none;
	}
	.menu .large-menu
	{
		display: none;
	}
	.navbar-container
	{
		padding: 5px 10px 5px 10px;
	}
	.right-container h1
	{
		font-size: 12vw;
		margin-top: -20px;
	}
	.maincont
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn_lg
	{
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
		height: auto;
	}
	.aboutus, .our-clients, .contact
	{
		padding: 20px;
	}
	.cursive
	{
		font-size: 15px;
	}
	.aboutus .row .col-sm-6
	{
		height: 100%;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 1.5px;
		text-align: left;
	}
	.footer
	{
		padding: 30px 20px 30px 20px;
	}
	.header-half
	{
		padding: 60px 20px 20px 20px;
	}
	.form-container
	{
		width: 100%;
		box-shadow: none;
		padding: 20px;
		margin-top: 10px;
	}
	.txt-sml
	{
		width: 90%;
	}
	.txt-lg
	{
		width: 90%;
	}
}






